<a href="" class="btn btn-success mb-3" routerLink="create">
	<fa-icon icon="plus"></fa-icon> Nuevo
</a>
<table class="table table-hover">
	<thead>
		<tr style="font-weight: bold;">
			<td>Name</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let exp of expenditures">
			<td>{{exp.name}}</td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a class="pr-3" routerLink="/expenditure/update/{{exp.id}}">
						<fa-icon style="color:gray;" icon="edit"></fa-icon>
					</a>
					<a routerLink="/expenditure" (click)="openEliminar(exp.id,exp.name,exp.description)">
						<fa-icon style="color:red;" icon="trash"></fa-icon>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page"
 aria-label="Default pagination"></ngb-pagination>
