<div class="d-inline-block">
	<a 
		placement="bottom" 
		ngbTooltip="Agregar nuevo organismo" 
		href="" class="btn btn-success" routerLink="create">
		<fa-icon class="fa-lg" icon="plus"></fa-icon> Nuevo
	</a>
</div>
<br>
<label class="d-inline-block pl-1 pr-1" for="">Nombre </label>
<div class="d-inline-block pl-1 pr-1 mt-1 mb-1">
	<input (keyup)="findWhileWrite()" [(ngModel)]="filters.name" type="text" class="form-control">
</div>

<div class="" style="min-height: 300px;">
	<table class="table table-striped">
			<thead>
				<tr style="font-weight: bold;">
					<td>Nombre</td>
					<td>Descripción</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let org of organism">
					<td>{{org.name}}</td>
					<td>{{org.description}}</td>
					<td><a 
							placement="bottom" 
							ngbTooltip="Ver las reparticiones de este organismo" 
							href="" routerLink="/organism/distributions/{{org.id}}">Reparticiones
						</a>
					</td>
					<td>
						<div class="btn-group" role="group" aria-label="Basic example">
							<a 
								placement="bottom" 
								ngbTooltip="Editar este organismo" 
								class="pr-3" routerLink="/organism/update/{{org.id}}">
								<fa-icon class="fa-lg" style="color:gray;" icon="edit"></fa-icon>
							</a>
							<a 
								placement="bottom" 
								ngbTooltip="Eliminar este organismo" 
								routerLink="/organism" (click)="openEliminar(org.id,org.name,org.description)">
								<fa-icon class="fa-lg" style="color:red;" icon="trash"></fa-icon>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<app-alert 
			*ngIf="col_size == 0"
			[textAlert]="textListEmpty"
			[typeAlert]="classListEmpty">			
		</app-alert>

</div>

<ngb-pagination 
	*ngIf="col_size >= (itemsPerPage + 1)"
	(pageChange)="loadPage($event)" 
	[collectionSize]="col_size" 
	[pageSize]="itemsPerPage" 
	[(page)]="filters.page"
	aria-label="Default pagination">
</ngb-pagination>
