<nav *ngIf="isLogged | async" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 font-weight-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <ul class="navbar-nav mr-auto">
      
      <li id="homeId" class="nav-item">
        <a
          routerLink="/"  
          class="nav-item text-white nav-link"
          href="#" >
          <fa-icon icon="home"></fa-icon> Inicio
        </a>
      </li>

      <li id="userId" class="nav-item">
        <a  
          routerLink="/users"
          class="nav-item text-white nav-link"
          href="#">
          <fa-icon icon="users"></fa-icon> Usuarios
        </a>
      </li>

      <li id="roleId" class="nav-item">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a      
          class="nav-item text-white nav-link" 
          href="#" 
          [routerLink]="['/roles']">
          <fa-icon icon="key"></fa-icon> Roles
        </a>
      </li>

      <li id="categoryId" class="nav-item">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a       
          class="nav-item text-white nav-link" 
          href="#"
          [routerLink]="['/category']">
          <fa-icon icon="tags"></fa-icon> Categorías
        </a>
      </li>

      <li id="distId" class="nav-item">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a    
          class="nav-item text-white nav-link"
          href="#" 
          [routerLink]="['/distribution']">
          <fa-icon icon="building"></fa-icon> Reparticiones
        </a>
      </li>

      <li id="transportId" class="nav-item">
          <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
          <a        
            class="nav-item text-white nav-link"
            href="#" 
            [routerLink]="['/transport']">
            <fa-icon icon="car"></fa-icon> Transporte
          </a>
      </li>

      <li id="expId" class="nav-item">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a       
          class="nav-item text-white nav-link" 
          href="#"
          [routerLink]="['/expenditure']">
          <fa-icon icon="money-check-alt"></fa-icon> Gastos
        </a>
      </li>

      <li id="orgId" class="nav-item">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a         
          class="nav-item text-white nav-link" 
          href="#" 
          [routerLink]="['/organism']">
          <fa-icon icon="sitemap"></fa-icon> Organismos
        </a>
      </li>

      <li id="solId" class="nav-item active">
        <a     
          routerLink="/SolicitationSubsidy/agent"
          class="nav-item text-white nav-link" href="#">
          <fa-icon icon="file-signature"></fa-icon> Solicitar Viático
        </a>
      </li>

      <li id="holId" class="nav-item active">
          <a             
            routerLink="/holidays" 
            class="nav-item text-white nav-link" href="#">
            <fa-icon icon="calendar"></fa-icon> Feriados
          </a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto small">
      <li class="nav-item dropdown">
        <div class="d-inline-block pull-right" ngbDropdown #myDrop="ngbDropdown">
          <button *ngIf="cantNotif == 0" class="btn btn-light mr-2 small" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
            <fa-icon icon="bell"></fa-icon>
          </button>
          <button *ngIf="cantNotif != 0" class="btn btn-light mr-2 small" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
              <fa-icon style="color:red;" icon="bell"></fa-icon>
              <span  style="background-color:red;" class="badge badge-primary badge-pill">{{notification.length}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <div class="p-2">
                <ul *ngIf="cantNotif == 0" class="dropdown-item text-center small alert alert-primary h-3">
                      No hay notificaciones nuevas
                </ul>

                <button *ngFor="let j of notification" class="dropdown-item small alert" 
                  [ngClass]="{'alert-light h-0 p-1 mb-1': j.read,'alert-success h-3 p-1 mb-1' : !j.read}"
                  (click)="seeThisNotification(j)">
                  <p style="font-size: 11px">{{j.textData}}</p>
                </button>

                <button (click)="seeAllNotification()" type="button" class="btn btn-link">
                  <p class="small">ver todos {{notification.length}}</p>
                </button>
              </div>
          </div>
        </div>
      </li>

      
      <li class="nav-item dropdown small">
          <div class="d-inline-block pull-right" ngbDropdown #myDropCloseSession="ngbDropdown">
              <button class="btn btn-outline-light mr-2 small" id="dropdownManual" ngbDropdownToggle 
                (focus)="myDropCloseSession.open()">
              <!-- <fa-icon icon="user"></fa-icon>-->
                <img class="rounded-circle" src="{{urlImage}}" alt="">
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <div class="dropdown-item small">
                  <b>{{lastName}}, {{firstName}}</b><br>
                  <p style="font-size: 11px">{{userName}}</p> 
              </div>

              <button routerLink="/settingUser/{{idUser}}" class="dropdown-item small pointer">
                <fa-icon icon="address-card"></fa-icon> Mi Perfil
              </button>
              <button (click)="logout()" class="dropdown-item small pointer">
                <fa-icon icon="sign-out-alt"></fa-icon> Cerrar Sesión
              </button>
              </div>
          </div>
      </li>   
    </ul>
  </div>
</nav>

<router-outlet class="small"></router-outlet>
