<nav *ngIf="isLogged | async" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 font-weight-light">

    <ul class="navbar-nav mr-auto" id="firstList">
      
      <li id="homeId">
        <a 
          placement="bottom" 
          id="inicio"
          (click)="activate('inicio')"
          ngbTooltip="Ir al menú principal" 
          routerLink="/" 
          class="nav-item text-white nav-link active"
          href="#" >
          <fa-icon icon="home"></fa-icon> Inicio
        </a>
      </li>

      <li id="userId">
        <a  
          placement="bottom" 
          ngbTooltip="Ver el listado de todos los usuarios" 
          routerLink="/users"
          (click)="activate('userId')"
          class="nav-item text-white nav-link"
          href="#">
          <fa-icon icon="users"></fa-icon> Usuarios
        </a>
      </li>

      <li id="roleId">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a      
          placement="bottom" 
          ngbTooltip="Ver el listado de todos los roles" 
          class="nav-item text-white nav-link" 
          (click)="activate('roleId')"
          href="#" 
          routerLink="/roles">
          <fa-icon icon="key"></fa-icon> Roles
        </a>
      </li>

      <li id="categoryId">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a
          placement="bottom" 
          ngbTooltip="Ver el listado de todas las categorías" 
          class="nav-item text-white nav-link" 
          href="#"
          (click)="activate('categoryId')"
          routerLink="/category">
          <fa-icon icon="tags"></fa-icon> Categorías
        </a>
      </li>

      <li id="distId">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a
          placement="bottom" 
          ngbTooltip="Ver el listado de todas las reparticiones" 
          class="nav-item text-white nav-link"
          (click)="activate('distId')"
          href="#" 
          routerLink="/distribution">
          <fa-icon icon="building"></fa-icon> Reparticiones
        </a>
      </li>

      <li id="transportId">
          <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
          <a 
            (click)="activate('transportId')"       
            placement="bottom" 
            ngbTooltip="Ver el listado de todos los transportes" 
            class="nav-item text-white nav-link"
            href="#" 
            routerLink="/transport">
            <fa-icon icon="car"></fa-icon> Transporte
          </a>
      </li>

      <li id="expId">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a       
          (click)="activate('expId')"
          placement="bottom" 
          ngbTooltip="Ver el listado de todos los tipos de gasto" 
          class="nav-item text-white nav-link" 
          href="#"
          routerLink="/expenditure">
          <fa-icon icon="money-check-alt"></fa-icon> Gastos
        </a>
      </li>

      <li id="orgId">
        <!--<a style="color: white;" class="nav-item nav-link active" href="#" routerLink="/login">Login</a>-->
        <a         
          placement="bottom" 
          (click)="activate('orgId')"
          ngbTooltip="Ver el listado de todos los organismos" 
          class="nav-item text-white nav-link" 
          href="#" 
          routerLink="/organism">
          <fa-icon icon="sitemap"></fa-icon> Organismos
        </a>
      </li>

      <li id="solId">
        <a     
          placement="bottom" 
          (click)="activate('solId')"
          ngbTooltip="Ver el listado de todas las solicitudes de viático" 
          routerLink="/SolicitationSubsidy/agent"
          class="nav-item text-white nav-link" 
          href="#">
          <fa-icon icon="file-signature"></fa-icon> Solicitar Viático
        </a>
      </li>

      <li id="holId">
          <a    
            placement="bottom"
            ngbTooltip="Ver el listado de los días no laborables"          
            routerLink="/holidays" 
            (click)="activate('holId')"
            class="nav-item text-white nav-link" 
            href="#">
            <fa-icon icon="calendar"></fa-icon> Feriados
          </a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto small">
      <li class="dropdown-small">
        <div class="d-inline-block pull-right" ngbDropdown #myDrop="ngbDropdown" placement="bottom-right">
          <button *ngIf="cantNotif == 0" class="btn btn-outline-light bell-size" id="dropdownManual" ngbDropdownToggle (focus)="myDrop.open()">
            <fa-icon class="fa-lg" style="color: dodgerblue;" icon="bell"></fa-icon>
           <!-- <span style="background-color:blue;" class="badge badge-primary badge-pill">{{notification.length}}</span>-->
          </button>
          <button *ngIf="cantNotif != 0" class="btn btn-outline-light bell-size" id="dropdownManual" 
              ngbDropdownToggle (focus)="myDrop.open()">
              <fa-icon  class="fa-lg" style="color:red;" icon="bell"></fa-icon>
              <span style="background-color:red;" class="badge badge-primary badge-pill">{{notification.length}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual" class="p-1" style="width: max-content;">
              <div class="card p-2">
                <ul *ngIf="cantNotif == 0" class="dropdown-item text-center small alert alert-primary h-3">
                      No hay notificaciones nuevas
                </ul>

                <button style="white-space :normal; cursor : pointer;" *ngFor="let j of notification" class="dropdown-item small alert" 
                  [ngClass]="{'alert-light h-0 p-1 mb-1': j.read,'alert-success h-3 p-1 mb-1' : !j.read}"
                  (click)="seeThisNotification(j)">
                  <p style="font-size: 11px">{{j.textData}}</p>
                </button>
                <a href="#" routerLink="{{router.url}}" (click)="seeAllNotification()" class="small text-left seeAllLink" 
                  style="text-decoration: none; padding-left: 10px;">
                   ver todos ({{notification.length}})
                </a>
              </div>
          </div>
        </div>
      </li>

      
      <li class="dropdown small ml-1">
          <div class="d-inline-block pull-right" ngbDropdown #myDropCloseSession="ngbDropdown" placement="bottom-right">
              <button class="btn btn-outline-light bell-size" id="dropdownManual" ngbDropdownToggle (focus)="myDropCloseSession.open()">
              <!-- <fa-icon icon="user"></fa-icon>-->
                <img class="rounded-circle" src="{{urlImage}}" alt="">
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual" style="background-color:mintcream;" 
                  class="pl-1 pr-1">
                  <div class="small card" style="padding : 6px;">
                      <span>{{lastName}}, {{firstName}}</span>
                      <span style="font-size: 11px">{{userName}}</span> 
                  </div>

                  <div class="card mt-1">
                    <button 
                      placement="left" 
                      ngbTooltip="Editar información personal" 
                      routerLink="/settingUser/{{idUser}}" 
                      class="dropdown-item small pointer"
                      style="padding : 6px;">
                        <fa-icon class="fa-lg" icon="address-card"></fa-icon> Mi Perfil
                    </button>
                  </div>

                  <div class="card mt-1">
                      <button 
                        placement="left" 
                        ngbTooltip="Salir del sistema" 
                        (click)="logout()" 
                        class="dropdown-item small pointer"
                        style="padding : 6px;">
                      <fa-icon class="fa-lg" icon="sign-out-alt"></fa-icon> Cerrar Sesión
                    </button>
                  </div>

              </div>
          </div>
      </li>   
    </ul>
</nav>

<nvs-ngx-breadcrumbs *ngIf="isloggedUser"></nvs-ngx-breadcrumbs>
<router-outlet class="small"></router-outlet>
