<div class="container mb-1" >
	<label class="d-inline-block pl-1" for="">Organismos </label>
	<div class="d-inline-block pl-1">
		<select  (change)="filterList()" [(ngModel)]="filters.organismId" class="form-control d-inline-block pl-1">
			<option value=""></option>
			<option *ngFor="let org of organisms" value="{{org.id}}">
				{{org.name}}
			</option>
		</select>
	</div>

	<label class="d-inline-block pl-1 pr-1" for="">Name </label>
	<div class="d-inline-block pl-1 pr-1">
		<input (keyup)="findWhileWrite()" [(ngModel)]="filters.name" type="text" class="form-control">
	</div>
</div>

<a href="" class="btn btn-success mb-3" routerLink="/distribution/create">
	<fa-icon icon="user-plus"></fa-icon>
</a>
<table class="table table-hover">
	<thead>
		<tr style="font-weight: bold;">
			<td>Name</td>
			<td>Descripción</td>
			<td>Organismos</td>
			<td>Usuarios</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let dist of distribution">
			<td>{{dist.name}}</td>
			<td>{{dist.description}}</td>
			<td><button class="btn btn-link" [disabled]="!dist.organism" (click)="seeOrganism(dist.organism)">ver</button></td>
			<td><button class="btn btn-link" [disabled]="!dist.users" routerLink="/users/{{dist.id}}">ver</button></td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a class="pr-3" routerLink="/distribution/update/{{dist.id}}">
						<fa-icon style="color:gray;" icon="edit"></fa-icon>
					</a>
					<a routerLink="/distribution" (click)="openEliminar(dist.id,dist.name,dist.description)">
						<fa-icon style="color:red;" icon="trash"></fa-icon>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page"
 aria-label="Default pagination"></ngb-pagination>