@model VR.Dto.User.UserRecoveryPassword
@{
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }


        .buttonAccept {
            background-color: #ABEBC6;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 23px;
        }

        .buttonAccept:hover {
            background-color: #2ECC71;
        }

        .firstParagraph{
        	text-indent: 21%;
        }

        .container {
        	padding: 10px;
        	border: 2px black solid;
        }

        .divAccept{
        	text-align: center;
        }
    </style>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body >
    <div class="container">
        <p>Sr./Sra.  @Model.LastName, @Model.FirstName <br /><p>
        <p class="firstParagraph">
            Usted solicito un cambio de contraseña. Ingrese al siguiente enlace para modificarla.
        </p>
        <div class="divAccept">
            <a class="buttonAccept" href="@Model.UrlCallBack"> cambiar contraseña </a>
        </div><br>
            Saludos.
    </div>
</body>
</html>