<a style="margin-left : 5px;" class="btn btn-primary navarStyle" href="" routerLink="/users">
    <fa-icon icon="angle-left"></fa-icon>    
</a>
<div class="container col-4 navarStyle">
    <h2>Crear</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        
        <div style="margin-bottom:5px;" class="form-group">
            <input class="form-control" [(ngModel)]="model.dni" #Dni="ngModel" required name="Dni" id="Dni" type="number"
                placeholder="Dni">
        </div>

        <div style="margin-top: 10px;" *ngIf="submitted && Dni.invalid" clas="alert alert-danger">
            Dni Incorrecto
        </div>

        <div style="margin-bottom:5px;" class="form-group">
            <input class="form-control" [(ngModel)]="model.userName" required #Usuario="ngModel" name="Usuario" type="text"
                placeholder="Username" value="">
        </div>

        <div style="margin-top: 10px;" *ngIf="submitted && Usuario.invalid" class="alert alert-danger">
            Usuario Incorrecto
        </div>

        <div style="margin-bottom:5px;" class="form-group">
            <input class="form-control" [(ngModel)]="model.password" #Usuario="ngModel" name="Password" type="password"
                placeholder="Nueva Contraseña" value="">
        </div>

        <div style="margin-top: 10px;" *ngIf="submitted && Password.invalid" class="alert alert-danger">
            Contraseña Incorrecta
        </div>

        <div class="form-group" style="margin-bottom : 0px;">
            <div class="row">
                <li *ngFor="let rol of model.rolesUser" style="list-style:none">
                    <div class="col">
                        <input type="checkbox" name="{{rol.id}}" value="{{rol.id}}" [(ngModel)]="rol.rolBelongUser" />
                        <label class="navarStyle" style="text-transform: capitalize; padding-left: 5px;font-size: 11px;" for="exampleCheck1">{{rol.name}}</label>
                    </div>
                </li>
            </div>
        </div> 

        <div style="margin-bottom:5px;" class="form-group">
            <input class="form-control" [(ngModel)]="model.phoneNumber" required #PhoneNumber="ngModel" name="phoneNumber"
                type="text" placeholder="Telefóno" value="">
        </div>
        
        <div style="margin-top: 10px;" *ngIf="submitted && PhoneNumber.invalid" class="alert alert-danger">
            Telefóno Incorrecto
        </div>

        <div style="margin-bottom:5px;" class="form-group">
            <button class="btn btn-success navarStyle" [disabled]="!userForm.form.valid"><fa-icon icon="save"></fa-icon></button>
        </div>

    </form>
    <div style="margin-top: 10px;" *ngIf="userForm.form.invalid">
        Hay Campos erroneos en el formulario, verifiquelos
    </div>
</div>


    



