<div class="d-inline-block mt-0 mb-1 mr-1">
	<a 	href="" 
		placement="bottom" 
		ngbTooltip="Crear una nueva categoría"
		class="btn btn-success" 
		routerLink="create">
		<fa-icon class="fa-lg" icon="plus"></fa-icon> Nuevo
	</a>
</div>


<div class="mb-1" >	
	<label class="d-inline-block pl-1 pr-1" for="">Nombre </label>
	<div class="d-inline-block">
		<input (keyup)="findWhileWrite()" [(ngModel)]="filters.name"  type="text" class="form-control">
	</div>
</div>

<div class="" style="min-height: 300px;">
	<table class="table table-striped">
		<thead>
			<tr style="font-weight: bold;">
				<td>Nombre</td>
				<td>Descripción</td>
				<td>Adelanto</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cat of categories">
				<td>{{cat.name}}</td>
				<td>{{cat.description}}</td>
				<td>{{cat.advance | number}}</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<a 	placement="bottom" 
							ngbTooltip="Editar esta categoría" 
							class="pr-3" routerLink="/category/update/{{cat.id}}">
							<fa-icon class="fa-lg" style="color:gray;" icon="edit"></fa-icon>
						</a>
						<a placement="bottom" 
							ngbTooltip="Eliminar esta categoría"
							routerLink="/category" (click)="openEliminar(cat.id,cat.name,cat.description)">
							<fa-icon class="fa-lg" style="color:red;" icon="trash"></fa-icon>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

		<app-alert 
			*ngIf="category_list_length == 0" 
			[textAlert]="textListEmpty"
			[typeAlert]="classListEmpty">			
		</app-alert>
</div>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page"
aria-label="Default pagination"></ngb-pagination>
