<a class="btn btn-primary m-2" href="" routerLink="/users">
    <fa-icon class="fa-lg" icon="arrow-left"></fa-icon>    
</a>

<div class="m-2">
    <table class="table table-striped responsive">
        <thead>
          <tr>
            <th scope="col">Agente</th>
            <th scope="col">Supervisor 1ra. de Instancia</th>
            <th scope="col">Supervisor 2da. de Instancia</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let a of agentsSupervisors">
          <tr>
            <td>{{a.agents.firstName}}, {{a.agents.lastName}}</td>
            <td>
              <span *ngIf="a.supervisors">{{a.supervisors.firstName}}, {{a.supervisors.lastName}}</span>
            </td>
            <td>
                <span *ngIf="a.supervisors2">{{a.supervisors2.firstName}}, {{a.supervisors2.lastName}}</span>
            </td>
            <td class="text-center">
              <a style="cursor:pointer" 
              placement="bottom" 
              ngbTooltip="Eliminar"
              (click)="openEliminar(a.supervisors, a.agents)">
                  <fa-icon 
 
                    class="fa-lg" style="color:red;" 
                    icon="trash"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
    </table>
</div>
