<div id="container-pdf" class="container small">
  <div class="modal-header">

    <h4 *ngIf="model.finalizeDate" class="modal-title pull-left">Detalle de rendición solicitud de víatico 
        <span *ngIf="model.isCommission">(Comisión
            Clave : {{model.randomKey}}) </span>
      <br></h4>
    <button (click)="activeModal.dismiss('Close click')" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header">
      <h5 class="modal-title">Apellido, Nombre : {{lastName}}, {{firstName}} <br> C.U.I.L : {{dni}}</h5>
  </div>
  <div class="modal-body">
        <div class="form-row">
            <label class="classLabel" for="">Motivo</label>
            <textarea 
              rows="10" 
              style="height: 100px; resize: none; font-size:unset;" 
              class="h-45 form-control" 
              value="{{model.motive}}"
              disabled>
            
            </textarea>
        </div>

        <div class="form-row">
            <label class="classLabel" for="">Gastos</label>
            <table class="table table-striped">
              <thead>
                <tr class="form-row">
                  <th class="col-2 classTh">Concepto</th>
                  <th class="col classTh">Descripción</th>
                  <th class="col-2 text-right classTh">Importe</th>
                  <th class="col-2 text-center classTh">Comprobante</th>
                </tr>
              </thead>
              <tbody>
                <tr class="form-row" *ngFor="let exp of model.expenditures">
                  <td class="col-2">
                    {{exp.expenditureTypeName}}
                  </td>
                  <td class="col">
                    {{exp.description}}
                  </td>
                  <td class="col-2 text-right">
                    {{exp.amount | currency}}
                  </td>
                  <td 
                    class="col-2 text-center"
                    placement="bottom" 
                    ngbTooltip="Ver imagen"
                    class="col-2 text-center">
                    <a  
                        style="width: inherit;cursor: pointer;"
                        (click)="lightbox.open([{path: exp.urlImage }])"
                        rel="noopener noreferrer">
                        <fa-icon class="{{sizeIcon}}" style="color:gray;" icon="image"></fa-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
              <div *ngIf="model.expenditures.length == 0" class="alert alert-primary text-center p-0">
                Esta solicitud no posee conceptos de gasto.
              </div>
            </table>
        </div>
        <div class="form-row">
            <label class="classLabel" for="">Destinos</label>
            <table class="table table-striped" style="padding :0;">
              <thead>
                <tr class="text-center" >
                    <th scope="col" class="classTh">Fecha</th>
                    <th scope="col" class="classTh">Destino</th>
                    <th scope="col" class="classTh">Transporte</th>
                    <th scope="col" class="classTh">Dias</th>
                    <th scope="col" class="text-left classTh">Dias c/Gastos</th>
                    <th scope="col" class="classTh">$/Dia</th>                      
                    <th scope="col" class="classTh">Cod. Liq.</th>
                    <th scope="col" class="classTh">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let des of model.destinies">
                  <td style="padding : 1px;">
                      {{des.startDate.day}}/{{des.startDate.month}}/{{des.startDate.year}}
                  </td>
                  <td style="padding : 1px;">
                      <span *ngIf="des.countryId">{{des.countryName}} </span> 
                      <span *ngIf="!des.countryId">{{des.provinceName}} - {{des.cityName}} </span>
                      <span class="mr-1 cardInsideTd" *ngFor="let c of des.supplementaryCities"> 
                          <span *ngIf="!des.countryId">, {{ c.name }}</span>
                      </span>
                  </td>
                  <td style="padding : 1px;">
                      {{des.transportModel}} - {{des.transportBrand}}
                  </td>
                  <td class="text-center" style="padding : 1px;">
                      {{des.days}}
                  </td>
                  <td class="text-center" style="padding : 1px;">
                    {{des.daysPay}}
                  </td>
                  <td class="text-right" style="padding : 1px;">
                      {{des.advanceCategory | currency}}
                  </td>
                  <td class="text-center" style="padding : 1px;">
                      {{des.percentageCodeLiquidation}}
                  </td>
                  <td class="text-right" style="padding : 1px;">
                      {{des.advanceCategory * des.daysPay * des.percentageCodeLiquidation | currency}}
                  </td> 
                </tr>
              </tbody>
            </table>
        </div>  
        
  </div>

  <div class="modal-body">
      <div class="form-row">
          <div class="form-row form-inline ml-auto">
              <label for="" class="form-col-5 classLabel">Total</label>
              <input type="text" disabled 
              style="font-size:unset;"
              value="{{model.total | currency}}" 
              class="form-col-3 form-control text-right small">
          </div>
        </div>
  </div>
</div>
<div class="modal-footer mt-6">
  <div class="mr-auto">
      <a routerLink="{{currentUrl}}" (click)="acepted()" class="btn btn-success small">
          Aceptar
      </a>
  </div>
  <div class="ml-auto">
      <a routerLink="{{currentUrl}}" (click)="AddMotive('Motivo de Rechazo')" 
          class="btn btn-danger small">
          Rechazar
      </a>
  </div>
  
  <!--<div col="col ml-auto">
      <button type="button" class="btn btn-default" (click)="activeModal.dismiss('Close click')">Cerrar</button>
  </div>-->
</div> 

