<a class="btn btn-primary" href="" routerLink="/holidays">
    <fa-icon icon="angle-left"></fa-icon>    
  </a>
  <div class="container col-5">
    
    <div class="card">
          <div class="card-header">
              <h2>Modificar</h2>
          </div>
          <div class="card-body">
              <form (ngSubmit)="onSubmit()" #holidaysForm="ngForm">
  
                      <div class="form-group">
                              <input class="form-control col" 
                              [(ngModel)]="model.description" 
                              #description="ngModel" 
                              required 
                              name="description"
                              id="description" type="text" placeholder="Descripción">
                          </div>
                  
                          <div *ngIf="submitted && description.invalid" clas="alert alert-danger mt-1">
                              Descripción Incorrecta
                          </div>
                  
                          <div class="form-group">
                          <div class="input-group">
                              <input class="form-control col-5" 
                                  placeholder="yyyy-mm-dd"
                                      name="dp" [displayMonths]="displayMonths" 
                                      required 
                                      [navigation]="navigation" 
                                      [outsideDays]="outsideDays" 
                                      [showWeekNumbers]="showWeekNumbers"
                                      ngbDatepicker #d="ngbDatepicker" 
                                      (keyup)="validateDate()"
                                      [(ngModel)]="model.date">
                              <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                  <fa-icon icon="calendar-alt"></fa-icon>
                              </button>
                              </div>
                          </div>
                          </div>
                  
                          <div *ngIf="errorDatapicker" class="alert alert-danger col-8 mt-1">
                                  {{errorDatapicker}}
                          </div>
                  
                          <div class="form-row">
                              <button class="btn btn-success ml-auto" [disabled]="!holidaysForm.form.valid">
                                  <fa-icon icon="save"></fa-icon> Guardar
                              </button>
                          </div>
                      </form>
  
          </div>
    </div>
  
  
    
  
  
      <div class="alert alert-danger mt-1" *ngIf="errors">
          <ul *ngFor="let e of errors">
              <li>{{e}}</li>
          </ul>
      </div>
  
    <div *ngIf="submitted && holidaysForm.form.invalid" class="mt-1">
        Hay Campos erroneos en el formulario, verifiquelos
    </div>
  </div>