<a style="margin-left : 5px;" class="btn btn-primary navarStyle" href="" routerLink="/SolicitationSubsidy">
    <fa-icon icon="angle-left"></fa-icon>
</a>
<div class="container">
    <h2>Crear</h2>
    <form (ngSubmit)="onSubmit()" #solicitationSubsidy="ngForm">
        <div class="navar navbar-collapse"> 
            <label for="">Total</label>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="form-inline my-2 my-lg-0">
                        <input type="text" class="form-control text-right" name="total"
                        disabled #total="ngModel" [(ngModel)]="model.total" value="{{model.total | number}}">
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-row">
                <div class="form-group pt-1 col">
                        <label for="">Motivo</label>
                        <textarea required class="form-control" #motive="ngModel"
                        [ngClass]="{'is-invalid' : motive.invalid && (motive.dirty || motive.touched)}"
                         name="motive" minlength="10" maxlength="245" [(ngModel)]="model.motive">
                        </textarea>

                        <div *ngIf="motive.invalid && (motive.dirty || motive.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="motive.errors.required">
                                Campo requerido.
                            </div>
                            <div *ngIf="motive.errors.minlength">
                                Debe contener al menos un digíto
                            </div>
                            <div *ngIf="motive.errors.maxlength">
                               No debe contener mas de 4 digítos
                            </div>
                        </div>
                </div>
        </div>

        <div class="form-row mt-1 mb-1">
            <button type="button" class="btn btn-success" (click)="AddDestiny()">
                    <fa-icon icon="plus"></fa-icon> Destino
            </button> 
            <a (click)="deleteAllDestinies()" 
                *ngIf="model.destinies.length > 0"
                class="btn btn-danger ml-1 text-white">
                <fa-icon icon="trash"></fa-icon> Eliminar Todos
            </a>

            <button
            class="btn btn-default ml-auto mb-1"
            type="button" 
            [hidden]="model.destinies.length == 0"
            (click)="onChangeColapse()"
            [attr.aria-expanded]="!isCollapsedDestiny" 
            aria-controls="collapseDestiny">
            <fa-icon icon="{{verOcultarIconDestiny}}"></fa-icon>
            {{verOcultarTextDestiny}} ({{model.destinies.length}})
        </button>
        </div>
        <!--Destino-->
        <table *ngIf="model.destinies.length > 0" class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Departamento/Localidad</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Transporte</th>
                    <th scope="col">Dias</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>  
            </thead>
            <tbody id="collapseDestiny" [ngbCollapse]="isCollapsedDestiny" *ngFor="let destiny of model.destinies">
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                    name="dp{{destiny.provinceId}}{{destiny.cityId}}"
                                    [displayMonths]="displayMonths"
                                    [navigation]="navigation" 
                                    [outsideDays]="outsideDays"
                                    [showWeekNumbers]="showWeekNumbers"
                                    [ngClass]="{'is-invalid' : 'dp+destiny.provinceId+destiny.cityId'.invalid &&
                                    ('dp+destiny.provinceId+destiny.cityId'.dirty || 'dp+destiny.provinceId+destiny.cityId'.touched)}"
                                    ngbDatepicker #d="ngbDatepicker" #dp{{destiny.provinceId}}{{destiny.cityId}}="ngModel" minlength="8" maxlength="8"
                                    [(ngModel)]="destiny.startDate" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                        <fa-icon icon="calendar-alt"></fa-icon>
                                    </button>
                                </div>
                            </div>
        
                            <div *ngIf="'dp+destiny.provinceId+destiny.cityId'.invalid && ('dp+destiny.provinceId+destiny.cityId'.dirty || 'dp+destiny.provinceId+destiny.cityId'.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="dp+destiny.provinceId+destiny.errors.required">
                                    Campo requerido.
                                </div>
                                <div *ngIf="'dp+destiny.provinceId+destiny'.errors.minlength">
                                    Debe contener al menos 8 digítos
                                </div>
                                <div *ngIf="'dp+destiny.provinceId+destiny'.errors.maxlength">
                                    No debe contener mas de 8 digítos
                                </div>
                            </div>
                        </div>  
                    </td>

                    <td colspan="2" *ngIf="destiny.countryId">
                            <select class="form-control"
                            #countryId{{destiny.provinceId}}{{destiny.countryId}}="ngModel" 
                            (change)="changeValue($event)"
                            name="countryId{{destiny.provinceId}}{{destiny.countryId}}"
                            [(ngModel)]="destiny.countryId">
                            <option *ngFor="let country of countries" [value]="country.id">
                                {{country.name}}
                            </option>
                        </select>
                    </td>
                    <td  *ngIf="!destiny.countryId">
                        <!-- filas para agregar-->
                        <select (change)="changeValue($event)" class="form-control"
                            #provinceId{{destiny.provinceId}}="ngModel"
                            name="provinceId{{destiny.provinceId}}" 
                            [(ngModel)]="destiny.provinceId">
                            <option *ngFor="let province of provinces" [value]="province.id">
                                {{province.name}}
                            </option>
                        </select>
                    </td>
                    <td  *ngIf="!destiny.countryId">
                        <select (change)="changeValue($event)" class="form-control"
                            #cityId{{destiny.cityId}}="ngModel"
                            name="cityId{{destiny.cityId}}" 
                            [(ngModel)]="destiny.cityId">
                            <option *ngFor="let city of cities" [value]="city.id">
                                {{city.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select (change)="changeValue($event)" class="form-control"
                            #categoryId{{destiny.categoryId}}="ngModel"
                            name="categoryId{{destiny.categoryId}}" 
                            [(ngModel)]="destiny.categoryId">
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{category.description}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select (change)="changeValue($event)" class="form-control"
                            #transportId{{destiny.transportId}}="ngModel"
                            name="transportId{{destiny.transportId}}" 
                            [(ngModel)]="destiny.transportId">
                            <option *ngFor="let transport of transports" [value]="transport.id">
                                {{transport.model}}-{{transport.brand}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input required [(ngModel)]="destiny.days" 
                        #days{{destiny.categoryId}}="ngModel" 
                        placeholder="Dias" value="{{destiny.days}}"
                        name="{{destiny.categoryId}}" class="form-control" type="text">
                    </td>

                    <td>
                        <a class="btn btn-danger text-white" (click)="removeDestiny(destiny)">
                            <fa-icon icon="trash"></fa-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-row">
            <a (click)="openAddNewConcept()" class="btn btn-success mb-1 text-white">
                <fa-icon icon="plus"></fa-icon> Concepto de Gasto
            </a>

            <a (click)="deleteAllConcepts()" 
                *ngIf="model.expenditures.length > 0"
                class="btn btn-danger ml-1 mt-1 mb-1 text-white">
                    <fa-icon icon="trash"></fa-icon> Eliminar Todos
            </a>
            <!--Concepto de Gasto-->
            <button 
            type="button" 
            type="button"
            class="btn btn-default ml-auto mb-1" 
            [hidden]="model.expenditures.length == 0"
            (click)="changeCollapseExpenditure()"
            [attr.aria-expanded]="!isCollapsedExpenditure"
            aria-controls="collapseExpenditure">
            <fa-icon icon="{{verOcultarIconExpenditure}}"></fa-icon>
            {{verOcultarTextExpenditure}} ({{model.expenditures.length}})
        </button>
            <table *ngIf="model.expenditures.length > 0" class="table table-sm">
                <thead>
                    <tr>
                    <th scope="col">Gastos</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="collapseExpenditure" [ngbCollapse]="isCollapsedExpenditure" 
                        *ngFor="let modelExp of model.expenditures">
                    <tr>
                        <td>
                            <select (change)="changeValue($event)" class="form-control"
                                #expenditureId{{modelExp.id}}="ngModel"
                                name="expenditureId{{modelExp.id}}" 
                                [(ngModel)]="modelExp.id">
                                <option *ngFor="let exp of expenditures" [value]="exp.id">
                                    {{exp.name}}
                                </option>
                            </select>
                        </td>    <!-- filas para agregar-->

                        <td>
                            <input required [(ngModel)]="modelExp.amount" #amount{{modelExp.id}}="ngModel" 
                            name="amount{{modelExp.id}}" class="form-control" type="number" placeholder="Costo"
                            value="{{modelExp.amount}}">
                        </td>
                        <td>
                            <input required [(ngModel)]="modelExp.description" 
                                #description{{modelExp.id}}="ngModel" 
                                placeholder="Descripción" value="{{modelExp.description}}"
                                name="description{{modelExp.id}}" class="form-control" type="text">
                            
                        </td>
                        <td>
                            <a class="btn btn-danger text-white" (click)="removePower(modelExp)">
                                <fa-icon icon="trash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-row float-right">
            <button [disabled]="!solicitationSubsidy.valid" class="btn btn-success navarStyle">
                <fa-icon icon="save"></fa-icon> Guardar
            </button>
        </div>


    </form>
    <div class="alert alert-danger" *ngIf="errors">
        <ul *ngFor="let e of errors">
            <li>{{e.value}}</li>
        </ul>
    </div>

    <div *ngIf="solicitationSubsidy.form.invalid && (solicitationSubsidy.dirty || solicitationSubsidy.touched)" 
        class="alert alert-danger mt-5">
        <div>
                Hay Campos erroneos en el formulario, verifiquelos
        </div>
    </div>
</div>