<div class="modal-header">
    <h4 class="modal-title">{{Encabezado}}</h4>
  </div>
  <div class="modal-body">
    <p>{{Contenido}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn {{GuardaroEliminarClass}}" hidden="{{GuardaroEliminarHidden}}" (click)="activeModal.close('Close click')">{{GuardaroEliminar}}</button>
    <button type="button" class="btn {{MsgCloseClass}}" hidden="{{MsgCloseHidden}}" (click)="activeModal.dismiss('Close click')">{{MsgClose}}</button>
</div>
    

