.no-wrap {
    display: block;
    width: 400px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    /**border: none**/;
  }

  .cardInsideTd {
    position: relative;
    display: -webkit-inline-box;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .toolTipDelete {
    background-color: darkgreen;
    width: 100%;
  }
