<div class="container mb-1" >
    <label class="d-inline-block pl-1 pr-1" for="">Transporte </label>
    <div class="d-inline-block pl-1 pr-1 col-2">
      <select  (change)="filter()" [(ngModel)]="filters.transportId" class="form-control d-inline-block pl-1">
        <option value=""></option>
        <option *ngFor="let transp of transports" value="{{transp.id}}">
          {{transp.type}}
        </option>
      </select>
    </div>
    
    <label class="d-inline-block pl-1 pr-1" for="">Lugar </label>
    <div class="d-inline-block pl-1 pr-1 col-2">
      <select  (change)="filter()" [(ngModel)]="filters.placeId" class="form-control d-inline-block pl-1">
        <option value=""></option>
        <option >
         
        </option>
      </select>
    </div>
  
    <label class="d-inline-block pl-1 pr-1" for="">Destino </label>
    <div class="d-inline-block pl-1 pr-1 col-2">
      <select  (change)="filter()" [(ngModel)]="filters.destinyId" class="form-control d-inline-block pl-1">
        <option value=""></option>
        <option>
          
        </option>
      </select>
    </div>
  
    <label class="d-inline-block pl-1 pr-1" for="">Usuario</label>
    <div class="d-inline-block pl-1 pr-1 col-2">
      <input (keyup)="filter()" [(ngModel)]="filters.userName" type="text" class="form-control">
    </div>
  </div>
  
  <div class="container">
      <div class="d-inline-block pb-2 pt-2">
          <a href="" class="btn btn-success" routerLink="/SolicitationSubsidy/create">
            Agregar
          </a>
        </div>

      <div class="d-inline-block pb-2 pt-2 ml-1">
        <a href="" class="btn btn-success" routerLink="/SolicitationSubsidy/supervisor">
          Moderar Solicitudes
        </a>
      </div>
       
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Fecha de Creación</th>
              <th>Objeto</th>
              <th colspan="2">Localidades- Itinerarios</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Motivo de Rechazo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sol of solicitationSubsidies">
              <td>{{sol.createDate | date:'dd/MM/yyyy'}}</td>
              <td class="no-wrap">{{sol.motive}}</td>
              <td colspan="2">
                <li *ngFor="let d of sol.destinies">
                    <span class="mr-1 cardInsideTd" *ngIf="d.countryName">{{d.countryName}}</span>
                    <span class="mr-1 cardInsideTd" *ngIf="d.provinceName && d.cityName">{{d.provinceName}} - {{d.cityName}}</span>

                    <span *ngFor="let c of d.supplementaryCities">
                        <span class="mr-1 cardInsideTd" *ngIf="c.name" > {{ c.name }}</span>
                    </span>
                </li>      
              </td>
              <td>{{sol.total}}</td>
              <td>{{sol.state}}</td>
              <td *ngIf="sol.state == 'Rechazado'">
                <a  href="" *ngIf="sol.motiveReject" class="pr-3" routerLink="/SolicitationSubsidy"
                (click)="openMotiveReject(sol.motiveReject)">
                    observaciones
                </a>
              </td>
              <td *ngIf="sol.state == 'Aceptado'">
                  <a href="" *ngIf="!sol.motiveReject" class="pr-3" routerLink="/SolicitationSubsidy/agent"
                  (click)="openMotiveReject(sol.fileNumber)">
                      observaciones
                  </a>
              </td>  
             
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="pr-3" routerLink="/SolicitationSubsidy/modify/{{sol.id}}">
                    <fa-icon style="color:gray;" icon="edit"></fa-icon>
                  </a>
                  <a class="pr-3" routerLink="/SolicitationSubsidy/agent" (click)="openEliminar(sol)">
                    <fa-icon style="color:red;" icon="trash"></fa-icon>
                  </a>
                  <a href="" class="pr-3" routerLink="/SolicitationSubsidy/agent"
                  (click)="openDetail(sol.id)">
                    <fa-icon style="color:gray;" icon="info-circle"></fa-icon>
                  </a>
                  <a href="" routerLink="/SolicitationSubsidy/agent"
                    class="pr-3" (click)="sendToSupervisor(sol.id)">
                    <fa-icon style="color: black;" icon="envelope"></fa-icon>
                  </a>
                  <a href="" *ngIf="sol.state == 'Aceptado'" routerLink="/print/{{sol.id}}"
                    class="pr-3" (click)="captureScreen()">
                    <fa-icon style="color: black;" icon="file-pdf"></fa-icon>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  
        <ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="filters.page"
  aria-label="Default pagination"></ngb-pagination>
  </div>
  
