    <div class="d-inline-block pb-2 pt-2">
        <a  
          placement="bottom" 
          ngbTooltip="Agregar una nueva solicitud de viático" 
          href="" class="btn btn-success" routerLink="/SolicitationSubsidy/create">
          <fa-icon class="fa-lg" icon="plus"></fa-icon> Nuevo
        </a>
    </div>

    <div class="d-inline-block pb-2 pt-2 ml-1">
      <a  
        placement="bottom" 
        ngbTooltip="Ver las solicitudes de viáticos de agentes a mi cargo" 
        href="" class="btn btn-success" routerLink="/SolicitationSubsidy/supervisor">
        Moderar Solicitudes
      </a>
    </div>


    <div class="container" style="min-height: 300px;">
      <table class="table table-striped">
          <thead>
            <tr class="row">
              <th class="col-2">Fecha de Creación</th>
              <th class="col-3">Objeto</th>
              <th class="col-3">Localidades- Itinerarios</th>
              <th class="col">Total</th>
              <th class="col">Estado</th>
              <th class="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sol of solicitationSubsidies" class="row">
              <td class="col-2">{{sol.createDate | date:'dd/MM/yyyy'}}</td>
              <td class="col-3 no-wrap" placement="bottom" ngbTooltip="{{sol.motive}}">
                {{sol.motive}}
              </td>
              <td class="col-3">
                  <li *ngFor="let d of sol.destinies">
                      <span *ngIf="d.countryName">{{d.countryName}}</span>
                      <span *ngIf="d.provinceName && d.cityName">{{d.provinceName}} - {{d.cityName}}</span> 
                  </li>  
                  <span class="" > {{ sol.localities }}</span>   
              </td>
              <td class="col">{{sol.total | currency}}</td>
              <td *ngIf="sol.state == 'Rechazado'" class="col">
                <a
                  placement="bottom" 
                  ngbTooltip="Ver motivo de rechazo"   
                  href="" class="pr-3" routerLink="/SolicitationSubsidy/agent"
                  (click)="openMotiveReject(sol.motiveReject)">
                  {{sol.state}}
                </a>
              </td>  
              <td class="col" *ngIf="sol.state == 'Aceptado'">
                  <a 
                    placement="bottom" 
                    ngbTooltip="Agregar número de expediente" 
                    href=""
                    (click)="addFileNumber(sol.id)"
                    routerLink="/SolicitationSubsidy/agent" class="pr-3">
                    {{sol.state}}
                  </a>
              </td>  
              <td class="col" *ngIf="sol.state != 'Rechazado' && sol.state != 'Aceptado'">
                  {{sol.state}}
              </td>
              <td *ngIf="sol.state == 'Pendiente'" class="col">
                  <div class="btn-group" 
                  role="group" 
                  aria-label="Basic example">
                  <a 
                    placement="bottom" 
                    ngbTooltip="Editar esta solicitud de viático" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/modify/{{sol.id}}">
                    <fa-icon style="color:gray;" icon="edit" class="{{sizeIcon}}">
                    </fa-icon>
                  </a>
                  <a 
                    placement="bottom" 
                    ngbTooltip="Eliminar esta solicitud de viático" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent" 
                    (click)="openEliminar(sol)">
                    <fa-icon class="{{sizeIcon}}" style="color:red;" icon="trash">
                    </fa-icon>
                  </a>
                  <!--<a href="" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent"
                    (click)="openDetail(sol.id)">
                    <fa-icon style="color:gray;" icon="info-circle"></fa-icon>
                  </a>-->
                  <a
                    placement="bottom" 
                    ngbTooltip="Enviar solicitud al supervisor"  
                    href="" 
                    routerLink="/SolicitationSubsidy/agent"
                    class="pr-3" 
                    (click)="sendToSupervisor(sol.id)">
                    <fa-icon 
                      class="{{sizeIcon}}" 
                      style="color: black;" 
                      icon="envelope">
                    </fa-icon>
                  </a>
                </div>
              </td>
              <td *ngIf="sol.state == 'Rechazado'" class="col">
                <div class="btn-group" 
                  role="group" 
                  aria-label="Basic example">
                  <a class="pr-3" 
                    placement="bottom" 
                    ngbTooltip="Editar esta solicitud de viático" 
                    routerLink="/SolicitationSubsidy/modify/{{sol.id}}">
                    <fa-icon style="color:gray;" 
                        icon="edit" class="{{sizeIcon}}"></fa-icon>
                  </a>
                  <a class="pr-3" 
                    placement="bottom" 
                    ngbTooltip="Eliminar esta solicitud de viático" 
                    routerLink="/SolicitationSubsidy/agent"
                    (click)="openEliminar(sol)">
                    <fa-icon 
                      style="color:red;"
                      placement="bottom" 
                      ngbTooltip="Eliminar esta solicitud de viático" 
                      icon="trash" class="{{sizeIcon}}"></fa-icon>
                  </a>
                  <!--<a href="" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent"
                    (click)="openDetail(sol.id)">
                    <fa-icon style="color:gray;" icon="info-circle"></fa-icon>
                  </a>-->
                  <a
                    placement="bottom" 
                    ngbTooltip="Enviar esta solicitud de viático al supervisor"  
                    href="" 
                    routerLink="/SolicitationSubsidy/agent"
                    class="pr-3" 
                    (click)="sendToSupervisor(sol.id)">
                    <fa-icon 
                        style="color: black;" 
                        icon="envelope" 
                        title="Enviar solicitud al supervisor" 
                        class="{{sizeIcon}}">
                    </fa-icon>
                  </a>
                </div>
              </td>
              <td *ngIf="sol.state == 'Aceptado'" class="col">
                  <a 
                    placement="bottom" 
                    ngbTooltip="Imprimir esta solicitud de viático" 
                    href="" routerLink="/print/{{sol.id}}" class="pr-3">
                    <fa-icon class="{{sizeIcon}}" style="color: black;" icon="print"></fa-icon>
                  </a>
              </td>
              <td *ngIf="sol.state == 'Enviado'" class="col"></td>
            </tr>
          </tbody>
        </table>
    </div>       

    <ngx-spinner 
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Enviando...</p>>
    </ngx-spinner>

    <ngb-pagination (pageChange)="loadPage($event)" 
    [collectionSize]="col_size" 
    [pageSize]="itemsPerPage" 
    [(page)]="filters.page"
    class="ml-auto"
    aria-label="Default pagination"></ngb-pagination>
  
