<div class="container" style="height: 500px;">

    <div class="row">
        <div class="d-inline-block pb-2 pt-2">
            <a href="" class="btn btn-success" routerLink="/SolicitationSubsidy/create">
              <fa-icon icon="plus"></fa-icon> Nuevo
            </a>
        </div>
    
        <div class="d-inline-block pb-2 pt-2 ml-1">
          <a href="" class="btn btn-success" routerLink="/SolicitationSubsidy/supervisor">
            Moderar Solicitudes
          </a>
        </div>
    </div>

       
        <table class="table table-sm mt-3">
          <thead>
            <tr class="row">
              <th class="col-1">Fecha de Creación</th>
              <th class="col-3">Objeto</th>
              <th class="col-4">Localidades- Itinerarios</th>
              <th class="col">Total</th>
              <th class="col">Estado</th>
              <th class="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sol of solicitationSubsidies" class="row">
              <td class="col-1">{{sol.createDate | date:'dd/MM/yyyy'}}</td>
              <td class="col-3 no-wrap">{{sol.motive}}</td>
              <td class="col-4">
                  <li *ngFor="let d of sol.destinies">
                      <span *ngIf="d.countryName">{{d.countryName}}</span>
                      <span *ngIf="d.provinceName && d.cityName">{{d.provinceName}} - {{d.cityName}}</span> 
                  </li>  
                  <span class="mr-1 cardInsideTd" > {{ sol.localities }}</span>   
              </td>
              <td class="col">{{sol.total | currency}}</td>
              <td *ngIf="sol.state == 'Rechazado'" class="col">
                  <a  href="" class="pr-3" routerLink="/SolicitationSubsidy/agent"
                  (click)="openMotiveReject(sol.motiveReject)">
                  {{sol.state}}
                  </a>
              </td>  
              <td class="col" *ngIf="sol.state == 'Aceptado'">
                  <a href="" alt="Número de Archivo" 
                    (click)="addFileNumber(sol.id)"
                    routerLink="/SolicitationSubsidy/agent" class="pr-3">
                    {{sol.state}}
                  </a>
              </td>  
              <td class="col" *ngIf="sol.state != 'Rechazado' && sol.state != 'Aceptado'">
                  {{sol.state}}
              </td>
              <td class="col" *ngIf="sol.state == 'Pendiente'" class="col">
                  <div class="btn-group" 
                  role="group" 
                  aria-label="Basic example">
                  <a 
                    *ngIf="sol.state == 'Pendiente'" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/modify/{{sol.id}}">
                    <fa-icon title="Editar Solicitud" style="color:gray;" icon="edit" class="{{sizeIcon}}"></fa-icon>
                  </a>
                  <a class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent" 
                    *ngIf="sol.state == 'Pendiente'"
                    (click)="openEliminar(sol)">
                    <fa-icon title="Eliminar Solicitud" class="{{sizeIcon}}" style="color:red;" icon="trash"></fa-icon>
                  </a>
                  <!--<a href="" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent"
                    (click)="openDetail(sol.id)">
                    <fa-icon style="color:gray;" icon="info-circle"></fa-icon>
                  </a>-->
                  <a href="" 
                    *ngIf="sol.state != 'Enviado'"
                    routerLink="/SolicitationSubsidy/agent"
                    class="pr-3" 
                    (click)="sendToSupervisor(sol.id)">
                    <fa-icon title="Enviar solicitud al supervisor" class="{{sizeIcon}}" style="color: black;" icon="envelope"></fa-icon>
                  </a>
                </div>
              </td>
              <td *ngIf="sol.state == 'Rechazado'" class="col">
                <div class="btn-group" 
                  role="group" 
                  aria-label="Basic example">
                  <a *ngIf="sol.state == 'Pendiente'" 
                      class="pr-3" 
                      routerLink="/SolicitationSubsidy/modify/{{sol.id}}">
                    <fa-icon title="Editar Solicitud" style="color:gray;" icon="edit" class="{{sizeIcon}}"></fa-icon>
                  </a>
                  <a class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent" 
                    *ngIf="sol.state == 'Pendiente'"
                    (click)="openEliminar(sol)">
                    <fa-icon style="color:red;" title="Eliminar Solicitud" icon="trash" class="{{sizeIcon}}"></fa-icon>
                  </a>
                  <!--<a href="" 
                    class="pr-3" 
                    routerLink="/SolicitationSubsidy/agent"
                    (click)="openDetail(sol.id)">
                    <fa-icon style="color:gray;" icon="info-circle"></fa-icon>
                  </a>-->
                  <a href="" 
                    *ngIf="sol.state != 'Enviado'"
                    routerLink="/SolicitationSubsidy/agent"
                    class="pr-3" 
                    (click)="sendToSupervisor(sol.id)">
                    <fa-icon style="color: black;" icon="envelope" title="Enviar solicitud al supervisor" class="{{sizeIcon}}"></fa-icon>
                  </a>
                </div>
              </td>
              <td *ngIf="sol.state == 'Aceptado'" class="col">
                  <a href="" routerLink="/print/{{sol.id}}" class="pr-3">
                    <fa-icon class="{{sizeIcon}}"  title="Imprimir" style="color: black;" icon="print"></fa-icon>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
 
        <ngx-spinner 
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Enviando...</p>>
        </ngx-spinner>
  </div>
  <div class="row">
      <ngb-pagination (pageChange)="loadPage($event)" 
      [collectionSize]="col_size" 
      [pageSize]="itemsPerPage" 
      [(page)]="filters.page"
      class="ml-auto"
      aria-label="Default pagination"></ngb-pagination>
  </div>
  
