<div class="d-inline-block mt-0 mb-1 mr-1">
	<a 	href="" 
		class="btn btn-success" 
		placement="bottom" 
		ngbTooltip="Agregar nuevo usuario" 
		routerLink="create">
		<fa-icon 
			class="fa-lg" 
			icon="plus" 
		></fa-icon> Nuevo
	</a>
</div>

<div class="d-inline-block mt-0 mb-1 mr-1">
	<button class="btn btn-success" [disabled]="users_check.length == 0" (click)="AddSupervisor()">
		Enlazar a Supervisor
	</button>
</div>
<div class="d-inline-block mt-0 mb-1">
		<button class="btn btn-success" routerLink="/AgentsAndSupervisors">
			Supervisores <fa-icon class="fa-lg" icon="user-tie"></fa-icon> Agentes
		</button>
</div>
<br>
<label class="d-inline-block pl-1 pr-1" for="">Repartición </label>
<div class="d-inline-block pl-1 pr-1 col-4 mb-1">
	<select  (change)="filterList()" [(ngModel)]="filters.distributionId" 
		class="form-control d-inline-block pl-1">
		<option value=""></option>
		<option *ngFor="let dist of distributions" value="{{dist.id}}">
			{{dist.name}}
		</option>
	</select>
</div>

<label class="d-inline-block pl-1 pr-1" for="">Usuario</label>
<div class="d-inline-block pl-1 pr-1 col-4 mb-1">
	<input (keyup)="findWhileWrite()" [(ngModel)]="filters.userName" type="text" class="form-control">
</div>

<label class="d-inline-block pl-1 pr-1" for="">D.N.I </label>
<div class="d-inline-block pl-1 pr-1 col-2 mb-1">
	<input (keyup)="findWhileWrite()" [(ngModel)]="filters.dni"  type="number" class="form-control">
</div>


<div style="min-height: 300px;">
	<table class="table table-striped">
			<thead>
				<tr style="font-weight: bold;">
					<td>
						<div class="form-check">
							<input type="checkbox" [checked]="allCheckedProperty" (change)="allChecked()" class="form-check-input">
						</div>
					</td>
					<td>D.N.I</td>
					<td>Nombre</td>
					<td>Apellido</td>
					<td>Repartición</td>
					<td>Roles</td>
					<td>Accción</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of user_list">
					<td>
						<div class="form-check">
							<input 
							type="checkbox" 
							name="checked"
							value="{{user.id}}"
							[(ngModel)]="user.checked"
							[checked]="user.checked"
							class="form-check-input"
							(change)="check(user)">
						</div>
					</td>
					<td>{{user.dni}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.distribution.name}}</td>
					<td>{{user.rol}}</td>
					<td>
						<div class="btn-group" role="group" aria-label="Basic example">
							<a style="cursor:pointer" class="pr-3" routerLink="/users/update/{{user.id}}">
								<fa-icon 
									placement="top" 
									ngbTooltip="Editar usuario"
									class="fa-lg" 
									style="color:gray;" 
									icon="edit"></fa-icon>
							</a>
							<a style="cursor:pointer" (click)="openEliminar(user.id,user.dni,user.userName)">
								<fa-icon 
									placement="top" 
									ngbTooltip="Eliminar usuario" 
									class="fa-lg" style="color:red;" 
									icon="trash"></fa-icon>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<app-alert 
			*ngIf="user_list_length == 0" 
			[textAlert]="textListEmpty"
			[typeAlert]="classListEmpty">			
		</app-alert>
		
</div>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="filters.page"
aria-label="Default pagination"></ngb-pagination>
		

