<a href="" class="btn btn-success mb-3" routerLink="create">
	<fa-icon icon="user-plus"></fa-icon>
</a>
<table class="table table-hover">
	<thead>
		<tr style="font-weight: bold;">
			<td>Dni</td>
			<td>Usuario</td>
			<td>Accción<td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of user_list">
			<td>{{user.dni}}</td>
			<td>{{user.userName}}</td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a class="pr-3" routerLink="/update/{{user.id}}">
						<fa-icon style="color:gray;" icon="edit"></fa-icon>
					</a>
					<a routerLink="/users" (click)="openEliminar(user.id,user.dni,user.userName)">
						<fa-icon style="color:red;" icon="trash"></fa-icon>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page"
 aria-label="Default pagination"></ngb-pagination>