<div class="container mb-1" >
		<label class="d-inline-block pl-1 pr-1" for="">Repartición </label>
		<div class="d-inline-block pl-1 pr-1 col-2">
			<select  (change)="filterList()" [(ngModel)]="filters.distributionId" class="form-control d-inline-block pl-1">
				<option value=""></option>
				<option *ngFor="let dist of distributions" value="{{dist.id}}">
					{{dist.name}}
				</option>
			</select>
		</div>
		
		<label class="d-inline-block pl-1 pr-1" for="">D.N.I </label>
		<div class="d-inline-block pl-1 pr-1 col-2">
			<input (keyup)="findWhileWrite()" [(ngModel)]="filters.dni"  type="text" class="form-control">
		</div>

		<label class="d-inline-block pl-1 pr-1" for="">Usuario</label>
		<div class="d-inline-block pl-1 pr-1 col-2">
			<input (keyup)="findWhileWrite()" [(ngModel)]="filters.userName" type="text" class="form-control">
		</div>
</div>

<div class="d-inline-block pb-2 pt-2">
	<a href="" class="btn btn-success" routerLink="/users/create">
		<fa-icon icon="user-plus"></fa-icon>
	</a>
</div>

<table class="table table-hover">
	<thead>
		<tr style="font-weight: bold;">
			<td>Dni</td>
			<td>Usuario</td>
			<td>Repartición</td>
			<td>Accción<td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of user_list">
			<td>{{user.dni}}</td>
			<td>{{user.userName}}</td>
			<td>{{user.distribution.name}}</td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a class="pr-3" routerLink="/users/update/{{user.id}}">
						<fa-icon style="color:gray;" icon="edit"></fa-icon>
					</a>
					<a routerLink="/users" (click)="openEliminar(user.id,user.dni,user.userName)">
						<fa-icon style="color:red;" icon="trash"></fa-icon>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="filters.page"
 aria-label="Default pagination"></ngb-pagination>