<div *ngIf="!logout" class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            
          </div>
      
          <!-- Login Form -->
          <form (ngSubmit)="LoginForm.form.valid && onSubmit()" #LoginForm="ngForm">
            <input 
                [(ngModel)]="model.Usuario"
                type="text" 
                id="login" 
                class="fadeIn second" 
                name="username" 
                #username="ngModel"
                placeholder="Usuario">
            <input 
                [(ngModel)]="model.Password" 
                placeholder="Contraseña"
                name="Password" 
                #password="ngModel"
                type="password" 
                id="password" 
                class="fadeIn third" >
            <input type="submit" [disabled]="LoginForm.form.invalid" class="fadeIn fourth" value="Ingresar">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a  class="underlineHover" routerLink="/RecuperarContraseña">¿olvidaste tu contraseña?</a>
          </div>
      
        </div>

        <div *ngIf="!LoginForm.form.valid">
                Formulario Incorrecto
        </div>
    
        <div *ngIf="!logout">
                <ul style="list-style-type: none;" *ngIf="notifications" 
                    class="alert alert-danger mt-1 mb-0 ml-auto text-center" role="alert">
                <li *ngFor="let e of notifications">{{ e.value }}</li>
            </ul>
        </div>
</div>



