<a  placement="bottom" ngbTooltip="Volver al listado de transportes" 
    style="margin-left : 5px;" class="btn btn-primary navarStyle" href="" routerLink="/transport">
  <fa-icon class="fa-lg" icon="arrow-left"></fa-icon>    
</a>

<div class="container col-6">
    <div class="card">
        <h5 class="card-header">Modificar</h5>
        <div class="card-body">
                <form (ngSubmit)="onSubmit()" #DistributionForm="ngForm">
      
                        <div style="margin-bottom:5px;" class="form-group">
                            <input class="form-control" [(ngModel)]="modelTransport.model" #name="ngModel"
                             required name="model" type="text" placeholder="Modelo">
                        </div>
                  
                        <div style="margin-top: 10px;" *ngIf="name.invalid" clas="alert alert-danger">
                            Modelo Incorrecto
                        </div>
                  
                        <div style="margin-bottom:5px;" class="form-group">
                            <input class="form-control" [(ngModel)]="modelTransport.type" required 
                            #type="ngModel" name="type" type="text" placeholder="Tipo">
                        </div>
                  
                        <div style="margin-top: 10px;" *ngIf="type.invalid" class="alert alert-danger">
                            Tipo Incorrecta
                        </div>
                  
                        <div style="margin-bottom:5px;" class="form-group">
                            <input class="form-control" [(ngModel)]="modelTransport.brand" required 
                            #brand="ngModel" name="brand" type="text" placeholder="Marca">
                        </div>
                  
                        <div style="margin-top: 10px;" *ngIf="brand.invalid" class="alert alert-danger">
                            Marca Incorrecta
                        </div>
                  
                        <div style="margin-bottom:5px;" class="form-group">
                            <input class="form-control" [(ngModel)]="modelTransport.carPlate" required 
                            #carPlate="ngModel" name="carPlate" type="text" placeholder="Patente">
                        </div>
                  
                        <div style="margin-top: 10px;" *ngIf="carPlate.invalid" class="alert alert-danger">
                            Patente Incorrecta
                        </div>
                  
                        <div style="margin-bottom:5px;" class="form-row">
                            <button placement="bottom" ngbTooltip="Enviar este formulario" 
                                class="btn btn-success ml-auto">
                                <fa-icon class="fa-lg" icon="save"></fa-icon> Guardar
                            </button>
                        </div>
                  
                    </form>
        <!--<div style="margin-top: 10px;" *ngIf="DistributionForm.form.invalid">
            Hay Campos erroneos en el formulario, verifiquelos
        </div>-->
        
        <div class="alert alert-danger" *ngIf="error">
            <ul *ngFor="let e of error">
                <li>{{e.value}}</li>
            </ul>
        </div>

        </div>
    </div>
</div>
