 <!--       <label class="d-inline-block p-2" for="">Nombre</label>
        <div class="d-inline-block p-2 col-md-2">
          <input (keyup)="filter()" [(ngModel)]="filters.firstName" type="text" class="form-control">
        </div>
    
        <label class="d-inline-block p-2" for="">Apellido</label>
        <div class="d-inline-block p-2 col-md-2">
          <input (keyup)="filter()" [(ngModel)]="filters.lastName" type="text" class="form-control">
        </div>
    
        <label class="d-inline-block p-2" for="">D.N.I</label>
        <div class="d-inline-block p-2 col-md-2">
          <input (keyup)="filter()" [(ngModel)]="filters.dni" type="number" class="form-control">
        </div>
      -->
    <div class="p-3" style="min-height: 300px;">
        <table  class="table table-striped">
          <thead>
            <tr class="form-row">
              <th class=""></th>
              <th class="col-md-2">Agente</th>
              <th class="col-md-1">Fecha de Creación</th>
              <th class="col-md-3">Objeto</th>
              <th class="col-md-3">Localidades-Itinerario</th>
              <th class="col text-right">Total</th>
              <th class="col">Estado</th>
              <th class=""></th>
            </tr>
          </thead>
          <tbody *ngFor="let sol of solicitationSubsidies">
            <tr class="form-row" [ngClass]="{
                  'bg-white text-black' : (sol.daysWeekEnd + sol.daysHolidays ) <= 5, 
                  'bg-warning text-white' : (sol.daysWeekEnd + sol.daysHolidays ) >= 6 && (sol.daysWeekEnd + sol.daysHolidays ) <= 8,
                  'bg-danger text-white' : (sol.daysWeekEnd + sol.daysHolidays ) >= 9 }">
              <td class="pl-0 pr-0">
                <fa-icon 

                  placement="right"
                  ngbTooltip="Fines de semana : {{sol.daysWeekEnd}} Feriados :  {{sol.daysHolidays}}"
                  class="{{sizeIcon}}"    
                  icon="info-circle">
                </fa-icon>
              </td>
              <td class="col-md-2">{{sol.fullName}}</td>
              <td class="col-md-1">{{sol.createDate | date:'dd/MM/yyyy'}}</td>
              <td class="col-md-3 no-wrap" 
                placement="bottom" 
                ngbTooltip="{{sol.motive}}">{{sol.motive}}</td>
              <td class="col-md-3">
                <li *ngFor="let d of sol.destinies">
                    <span *ngIf="d.countryName">{{d.countryName}}</span>
                    <span *ngIf="d.provinceName && d.cityName">{{d.provinceName}} - {{d.cityName}}</span>
                    
                                    
                </li>  
                <span class="" > {{ sol.localities }}</span>       
              </td>
              <td class="col text-right">{{sol.total | currency}}</td>
              <td class="col">{{sol.state}}</td>
              <td class="pl-0 pr-0">
                <div class="btn-group" role="group" aria-label="Basic example">
                  
                  <a 
                    *ngIf="(sol.state == 'Rendición Aprobada 1ra. Instancia' || sol.state == 'Rendido')
                      && !sol.isRefund"
                    href="" 
                    placement="bottom" 
                    ngbTooltip="Ver detalle de la solicitud de viático"
                    class="" routerLink="{{router.url}}"
                    (click)="openDetailAccountFor(sol.id)">
                  <fa-icon class="{{sizeIcon}}" style="color:gray;" icon="info-circle"></fa-icon>
                  </a>
                  <a 
                    *ngIf="sol.state != 'Rendición Aprobada 1ra. Instancia' 
                      && sol.state != 'Rendido'
                      && !sol.isRefund"
                    href="" 
                    placement="bottom" 
                    ngbTooltip="Ver detalle de la solicitud de viático"
                    class="" routerLink="{{router.url}}"
                    (click)="openDetail(sol.id)">
                    <fa-icon class="{{sizeIcon}}" style="color:gray;" icon="info-circle"></fa-icon>
                  </a>
                  
                  <a 
                    *ngIf="sol.state != 'Rendición Aprobada 1ra. Instancia' 
                      && sol.state != 'Rendido' 
                      && sol.isRefund"
                    href="" 
                    placement="bottom" 
                    ngbTooltip="Ver detalle de la solicitud de reintegro"
                    class="" routerLink="{{router.url}}"
                    (click)="openDetail(sol.id)">
                    <fa-icon class="{{sizeIcon}}" style="color:gray;" icon="info-circle"></fa-icon>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <app-alert 
        *ngIf="col_size == 0" 
        [textAlert]="textListEmpty"
        [typeAlert]="classListEmpty">			
      </app-alert>
  </div>

  <ngb-pagination 
    *ngIf="col_size >= (itemsPerPage + 1)"
    (pageChange)="loadPage($event)" 
    [collectionSize]="col_size"
    [pageSize]="itemsPerPage" 
    [(page)]="filters.page"
    class="ml-auto"
    aria-label="Default pagination"></ngb-pagination>
  
