  <div class="p-2">
          
      <div class="form-row"> 
          <button class="btn btn-primary ml-auto mt-1" (click)="download()">
              <fa-icon icon="download"></fa-icon> Descargar
          </button>
      </div>
  </div>

  <div id="iframeId" class="p-2">
      <img [src]="stringIframe" alt="" style="width: 1339px;">
      <!--<iframe [src]="stringIframe"  frameborder="1" width="100%" height="1000px"></iframe>-->
  </div>

  <ngx-spinner 
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#ffffff"
  fullScreen="true"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>

    <!--<img src="{{previewImage}}" id="print-img" [hidden]="!previewImage" alt="">
    -->
    <div id="container-print" [hidden] = "hideHtml"  class="p-2">
      <div class="form-row">
        <table border="1"  width="100%">
            <thead>
              <tr>
                <th scope="col" class="text-center"><b> UNIDAD EJECUTORA: </b></th>
                <th scope="col"class="text-center"><b>UNIDAD OPERATIVA:</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="p-2">	
                  <p>SEÑOR	DIRECTOR: <br>				
                    Conforme a instrucciones recibidas, el suscripto solicita	<br>				
                    anticipo de fondos para  la realización  de la comisión que <br>					
                    se detalla en el presente formulario.<br>					
                    <b>FECHA: {{today | date:'dd/MM/yyyy'}}</b><br></p>
                    <div class="ml-auto col-9">
                      <div class="ml-auto pt-3"> ------------------------------------------------- </div>
                    </div>				            
                </td>
                <td ROWSPAN="2" class="p-2">
                    <p><ins><b>DEL AGENTE:</b></ins><br>				
                    Apellido:	<b>{{lastName}}</b><br>			
                    Nombres: <b>{{firstName}}</b><br>
                    Categoría : <b>{{categoryName}} - {{categoryDescription}}</b><br>
                    Repartición : <b>{{distributionName}} - {{distributionDescription}}</b><br>
                    <ins><b>DE LA COMISIÓN:</b></ins><br>	
                    <span *ngFor="let des of model.destinies">
                      <span>
                          Fecha de Iniciación: <b>{{des.startDate.day}}/{{des.startDate.month}}/{{des.startDate.year}}</b>
                      </span>
                      <span *ngIf="des.countryName">
                          <br>
                          Destino: {{des.countryName}}
                      </span>
                      <span *ngIf="des.provinceName">
                          <br>
                          Destino: {{des.provinceName}}, {{des.cityName}} 
                      </span>
                      <span>
                          <br>
                          Medio de Transporte: {{des.transportModel}} - {{des.transportBrand}}
                      </span>
                      <span>
                        <br>
                        Objeto:	{{model.motive}}
                      </span><br>
                    </span>				
                </td>
              </tr>
              <tr>
                <td class="p-2">	
                    <p>SEÑOR	SUBSECRETARIO PRESENTE	<br>				
                       De conformidad a los términos legales correspondientes, <br>				
                    solicitando se sirva autorizar la presente comisión oficial. <br>					
                    FECHA: {{today | date:'dd/MM/yyyy'}} </p>
                    <div class="ml-auto col-9">
                      <div class="ml-auto pt-3"> ------------------------------------------------- </div>
                    </div>	   
                  </td>
              </tr>
            </tbody>
          </table>
      </div>
    
      <div class="form-row" style="border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black; 
        border-top : 0px;">
        <table border="1" class="DivsInMiddle">
            <thead>
              <tr>
                <th class="col-8">SOLICITUD DE FONDOS</th>
                <th class="col">IMPORTE</th>
                <th class="col">ASIGNACIÓN DEL GASTO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let des of destinieWithDaysInLetters">
                  <td class="col-8" *ngIf="des.days == 1">DÍAS DE VIATICOS : {{des.days}} ({{des.daysLetters}}) día de viático a razón de {{des.advanceCategory | currency}} {{des.textPercentage}} {{ (des.percentageCodeLiquidation * des.advanceCategory) | currency}} por día.</td>
                  <td class="col-8" *ngIf="des.days != 1">DÍAS DE VIATICOS : {{des.days}} ({{des.daysLetters}}) días de viático a razón de {{des.advanceCategory | currency}} {{des.textPercentage}} {{ (des.percentageCodeLiquidation * des.advanceCategory) | currency}} por día.</td> 
                  <td class="col text-center">{{des.advanceCategory * des.days * des.percentageCodeLiquidation | currency}}</td>
                  <td class="col"></td>
              </tr>
              <tr *ngFor="let exp of model.expenditures">
                <td class="col-8">
                  {{exp.expenditureTypeName}} : {{exp.description}}
                </td>
                <td class="text-center col">
                  {{exp.amount | currency}}
                </td>
                <td></td>
              </tr>
              <tr>
                  <td class="text-right col">TOTAL $</td>
                  <td colspan="2" style="border : 2px solid black;" class="text-center col"><b>{{totalExpenditures | currency}}</b></td>
              </tr>
            </tbody>
          </table>
      </div>
        
      <div class="form-row" style="border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black; 
        border-top : 0px;">
          <p><ins>RENDICIONES DE CUENTAS:</ins><br>											
          Informa que el agente comisionado si/no adeuda suma alguna en concepto de VIÁTICOS Y MOVILIDAD,  y  que 
          el importe del básico que se menciona es correcto. <br></p>
          <div class="row mr-auto col-9">
            <div class="col"> 
                CORRIENTES,	{{ today | date:'dd/MM/yyyy' }}  
            </div>
            <div class="col"> 
                <div class="ml-auto pt-3">  ------------------------------------------------------------------------- </div>  
            </div>
          </div>	                											
              
      </div>
    
      <div class="form-row" style="border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black; 
        border-top : 0px;">
        <div class="col p-2">
            <p><ins>A DIRECCIÓN DE ADMINISTRACIÓN</ins><br>					
            Por autorizada la comisión solicitada, para la liquidación y pago del anticipo correspondiente.	</p>
            <div class="row ml-auto col-10"> 
                <div class="col"> 
                    ------------------------------------------------------------------- 
                </div>  
            </div>
        </div>

        <div class="col p-2 DivTwoParts" width="1090">
            <p><ins>A TESORERÍA:</ins><br>			
            C/Comprob. de Contabilidad del Fondo Nº............... donde se cumplimenta la liquidación para su pago.</p>					
            <div class="row ml-auto col-10"> 
                <div class="col">  ------------------------------------------------------------------- </div>  
            </div>
        </div>
      </div>

      <div class="form-row"style="border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black; 
        border-top : 0px;"  *ngFor="let des of destinieWithDaysInLetters; index as i">
          <p *ngIf="i == 0"><ins><b>RECIBÍ</b></ins> de la Tesorería de la Dirección de Administración del Ministerio de Producción, Trabajo y Turismo													
          cheque Nº ........................ del ..... / ..... / ..... cta. cte. Nº ... - .......... /...  Bco. Corrientes S.A. por $													
          y cheque Nº ........................ del ..... / ..... / ..... cta. cte. Nº ... - .......... /...  Bco. Corrientes S.A. por $													
          por la suma de pesos: <b>{{des.solicitationTotalLetter}}</b> (<b>{{model.total | currency}}</b>), en concepto de Anticipo de Viáticos, cuya rendición de cuentas me comprometo a realizar dentro de los <b>Tres</b> días													
          hábiles de finalizada la comisión,  caso contrario me sujeto a las sanciones establecidas en la Ley de Contabilidad. <br>	</p>												
          
          <div *ngIf="i == 0" class="row ml-auto col-9">
            <div class="col">M.I. Nº <b>{{dni}}</b></div>
            <div class="col"> FIRMA ------------------------------------------------- </div>
          </div>						
      </div>
      <div class="form-row" style="border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black; 
      border-top : 0px;">
          <p>LA DIRECCIÓN DE ADMINISTRACIÓN CERTIFICA QUE EL DÍA	........../.........../.............. EL SEÑOR:	
          <b>{{lastName}}, {{firstName}}</b> HA PRESENTADO LA RENDICIÓN DE CUENTAS	CORRESPONDIENTE AL ANTICIPO LIQUIDADO POR COMPROBANTE DE CONT. DE FONDO Nº													
          SE EXTIENDE LA PRESENTE A LOS EFECTOS PERTINENTES. <br></p>	
          <div class="ml-auto col-5">
              <div class="ml-auto pt-3">
                  <div *ngIf="urlSign" class="container-image col-md-8 ml-auto">
                      <img 
                        width="200px" 
                        height="100px" 
                        [src]="urlSign" class="image">
                  </div>
                  <div *ngIf="!urlSign" class="container-image col-md-8 ml-auto">
                        <p>S/F</p>
                </div>
              </div>
              <div class="ml-auto"> FIRMA AUTORIZADA: ------------------------------------------------------------- </div>
        </div>	 

      </div>
            
    </div>

    

