.DivsInMiddle{
    border-bottom: 1px solid black; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top : 0px;
    width: 100%;
}

.DivTwoParts {
    border-left: 1px solid black;
}

.container-spinner{
    z-index: 2000;
    position: relative;
    color: black;
}
