<a 	placement="bottom" 
	ngbTooltip="Agregar nuevo transporte" 
	href="" class="btn btn-success mb-3" routerLink="create">
	<fa-icon class="fa-lg" icon="plus"></fa-icon> Nuevo
</a>

<div class="" style="min-height: 300px;">
	<table class="table table-striped">
			<thead>
				<tr style="font-weight: bold;">
				<td>Tipo</td>
				<td>Modelo</td>
				<td>Marca</td>			
				<td>Patente</td>
				<td>Acción</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let trans of transport">
					<td>{{trans.type}}</td>
					<td>{{trans.model}}</td>
					<td>{{trans.brand}}</td>
					<td>{{trans.carPlate}}</td>
					<td>
						<div class="btn-group" role="group" aria-label="Basic example">
							<a  placement="bottom" 
								ngbTooltip="Editar este transporte" 
								class="pr-3" routerLink="/transport/update/{{trans.id}}">
								<fa-icon class="fa-lg" style="color:gray;" icon="edit"></fa-icon>
							</a>
							<a 	placement="bottom" 
								ngbTooltip="Eliminar este transporte" 
								routerLink="/transport" (click)="openEliminar(trans.id,trans.carPlate,trans.model)">
								<fa-icon class="fa-lg" style="color:red;" icon="trash"></fa-icon>
							</a>
					</div>
				</td>
				</tr>
			</tbody>
		</table>
</div>

<ngb-pagination 
	*ngIf="col_size >= (itemsPerPage + 1)"
	(pageChange)="loadPage($event)" 
	[collectionSize]="col_size" 
	[pageSize]="itemsPerPage" 
	[(page)]="page"
	aria-label="Default pagination">
</ngb-pagination>
