<a 	
	*ngIf="transportCreate"
	href="" class="btn btn-success ml-2" routerLink="create">
	<fa-icon class="fa-lg" icon="plus"></fa-icon> Nuevo
</a>


<div class="p-2" style="min-height: 300px;">
	<table class="table table-striped">
			<thead>
				<tr style="font-weight: bold;">
				<td>Tipo</td>
				<td>Marca</td>
				<td>Modelo</td>
				<td>Patente</td>
				<td></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let trans of transport">
					<td>{{trans.type}}</td>
					<td>{{trans.brand}}</td>
					<td>{{trans.model}}</td>
					<td>{{trans.carPlate}}</td>
					<td class="text-right">
						<div class="btn-group" role="group" aria-label="Basic example">
							<a  
								*ngIf="transportEdit"
								placement="bottom" 
								ngbTooltip="Editar" 
								class="pr-3" 
								routerLink="/transport/update/{{trans.id}}">
								<fa-icon class="fa-lg" style="color:gray;" icon="edit"></fa-icon>
							</a>
							<a 	
								*ngIf="transportDelete"
								placement="bottom" 
								ngbTooltip="Eliminar" 
								routerLink="/transport" 
								class="pr-3"
								(click)="openEliminar(trans.id,trans.carPlate,trans.model)">
								<fa-icon class="fa-lg" style="color:red;" icon="trash"></fa-icon>
							</a>
					</div>
				</td>
				</tr>
			</tbody>
		</table>
</div>

<ngb-pagination 
	*ngIf="col_size >= (itemsPerPage + 1)"
	(pageChange)="loadPage($event)" 
	[collectionSize]="col_size" 
	[pageSize]="itemsPerPage" 
	[(page)]="page"
	aria-label="Default pagination">
</ngb-pagination>
