<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()" #ResetForm="ngForm">
      <input 
          type="password" 
          [(ngModel)]="model.password" 
          name="password" 
          [ngStyle]="{'border-left': (passwordsAreEquals && !passwordEmpty) == false ? '5px solid #a94442' : '5px solid #42A948'}"
          (keyup)="comparePassword()"
          #password="ngModel"
          id="login" 
          class="fadeIn second"
          placeholder="Nueva Contraseña"
          required>
      <input 
        type="password" 
        [(ngModel)]="model.passwordConfirm"
        [ngStyle]="{'border-left': (passwordsAreEquals && !passwordEmpty) == false ? '5px solid #a94442' : '5px solid #42A948'}"
        name="passwordConfirm" 
        (keyup)="comparePassword()"
        #passwordConfirm="ngModel" 
        placeholder="Confirmar Nueva Contraseña"
        id="password" 
        class="fadeIn third"
        required>
      <input type="submit" class="fadeIn fourth" value="Enviar">
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a  class="underlineHover" routerLink="/login">Iniciar Sesión</a>
    </div>

  </div>
  <div class="alert alert-danger" *ngIf="error && ResetForm.submitted">
      Formulario Incorrecto: {{error}}
  </div>
</div>

<ngx-spinner 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade">
  <p style="font-size: 20px; color: white">Enviando ...</p>
</ngx-spinner>