<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()" #RecoveryForm="ngForm">
      <input 
        type="text" 
        [(ngModel)]="model.email"
        name="email" 
        #email="ngModel"
        id="login" 
        maxlength="50"
        class="fadeIn second" 
        placeholder="Correo" required>
      <input type="submit" class="fadeIn fourth" value="Recuperar">
    </form>

    <div id="formFooter">
      <a  class="underlineHover" routerLink="/login">Ingresar</a>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="!RecoveryForm.form.valid && RecoveryForm.submitted">
          Formulario Incorrecto: {{error}}
  </div>
</div>

<ngx-spinner 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade">
  <p style="font-size: 20px; color: white">Enviando...</p>
</ngx-spinner>