<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()" #RecoveryForm="ngForm">
      <input 
        type="text" 
        [(ngModel)]="model.email"
        name="email" 
        #email="ngModel"
        id="login" 
        maxlength="50"
        class="fadeIn second" 
        placeholder="Correo" required>
      <input type="submit" class="fadeIn fourth" value="Recuperar">
    </form>

  </div>

  <div class="alert alert-danger" *ngIf="!RecoveryForm.form.valid && RecoveryForm.submitted">
          Formulario Incorrecto: {{error}}
  </div>
</div>

