<div class="container col-7" style="padding-left : 30px;">
  <form (ngSubmit)="onSubmit()" #RecoveryForm="ngForm">
    <div class="row" style="padding : 5px;">
          <label style="padding-top : 7px;padding-right: 3px;" for="">Email</label>
              <input style="width : 40%;" class="form-control" type="text" [(ngModel)]="model.email" name="email" #email="ngModel">
              <button style="padding-left : 8px;" type="submit" class="btn btn-success navarStyle">Recuperar</button>
    </div>
  </form>
</div>

