<a style="margin-left : 5px;" class="btn btn-primary navarStyle" href="" routerLink="/expenditure">
  <fa-icon icon="angle-left"></fa-icon>    
</a>

<div class="container col-6 navarStyle">
    <div class="card">
        <h5 class="card-header">Modificar</h5>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #ExpenditureForm="ngForm">
    
                    <div style="margin-bottom:5px;" class="form-group">
                        <input class="form-control" [(ngModel)]="model.name" #name="ngModel" required name="name" type="text"
                            placeholder="Nombre">
                    </div>
                
                    <div style="margin-top: 10px;" *ngIf="submitted && name.invalid" clas="alert alert-danger">
                        Nombre Incorrecto
                    </div>
                
                    <div style="margin-bottom:5px;" class="form-row">
                        <button class="btn btn-success ml-auto" >
                            <fa-icon icon="save"></fa-icon> Guardar
                        </button>
                    </div>
                
                </form>
                
            <div class="alert alert-danger" *ngIf="error">
                <ul *ngFor="let e of error">
                    <li>{{e.value}}</li>
                </ul>
            </div>    

        </div>
    </div>    
</div>

  
